<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>LIUM GO</title>

  <!-- Fav Icon -->
  <link rel="icon" href="/images/IElum/White.png" type="image/x-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet" />

  <!-- Stylesheets -->
  <link href="/css/font-awesome-all.css" rel="stylesheet" />
  <link href="/css/flaticon.css" rel="stylesheet" />
  <link href="/css/owl.css" rel="stylesheet" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/jquery.fancybox.min.css" rel="stylesheet" />
  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/imagebg.css" rel="stylesheet" />
  <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet" />
  <link href="/css/switcher-style.css" rel="stylesheet" />
  <link href="/css/rtl.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="error_body">
  <section class="error">
    <div class="section">
      <h1 class="number">404</h1>
      <div class="page">Ooops!!! The page you are looking for is not found</div>
      <a class="back-home" href="/">Back to home</a>
    </div>
  </section>

</body>

</html>